$color-black: #000;
$color-white: #fff;

$color-grey-light: #ddd;
$color-grey-dark: #777;

$color-green-1: #7a744d;
$color-green-2: #4e4832;

$color-brown-light: #8d8373;
$color-brown-dark: #6c533b;

$default-font-size: 1.6rem;
