.section__video {
    position: absolute;
    opacity: .5;
    z-index: -100;
}

.section__form {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
